<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>a1</key>
	<string>a1.glif</string>
	<key>a10</key>
	<string>a10.glif</string>
	<key>a100</key>
	<string>a100.glif</string>
	<key>a101</key>
	<string>a101.glif</string>
	<key>a102</key>
	<string>a102.glif</string>
	<key>a103</key>
	<string>a103.glif</string>
	<key>a104</key>
	<string>a104.glif</string>
	<key>a105</key>
	<string>a105.glif</string>
	<key>a106</key>
	<string>a106.glif</string>
	<key>a107</key>
	<string>a107.glif</string>
	<key>a108</key>
	<string>a108.glif</string>
	<key>a109</key>
	<string>a109.glif</string>
	<key>a11</key>
	<string>a11.glif</string>
	<key>a110</key>
	<string>a110.glif</string>
	<key>a111</key>
	<string>a111.glif</string>
	<key>a112</key>
	<string>a112.glif</string>
	<key>a117</key>
	<string>a117.glif</string>
	<key>a118</key>
	<string>a118.glif</string>
	<key>a119</key>
	<string>a119.glif</string>
	<key>a12</key>
	<string>a12.glif</string>
	<key>a120</key>
	<string>a120.glif</string>
	<key>a121</key>
	<string>a121.glif</string>
	<key>a122</key>
	<string>a122.glif</string>
	<key>a123</key>
	<string>a123.glif</string>
	<key>a124</key>
	<string>a124.glif</string>
	<key>a125</key>
	<string>a125.glif</string>
	<key>a126</key>
	<string>a126.glif</string>
	<key>a127</key>
	<string>a127.glif</string>
	<key>a128</key>
	<string>a128.glif</string>
	<key>a129</key>
	<string>a129.glif</string>
	<key>a13</key>
	<string>a13.glif</string>
	<key>a130</key>
	<string>a130.glif</string>
	<key>a131</key>
	<string>a131.glif</string>
	<key>a132</key>
	<string>a132.glif</string>
	<key>a133</key>
	<string>a133.glif</string>
	<key>a134</key>
	<string>a134.glif</string>
	<key>a135</key>
	<string>a135.glif</string>
	<key>a136</key>
	<string>a136.glif</string>
	<key>a137</key>
	<string>a137.glif</string>
	<key>a138</key>
	<string>a138.glif</string>
	<key>a139</key>
	<string>a139.glif</string>
	<key>a14</key>
	<string>a14.glif</string>
	<key>a140</key>
	<string>a140.glif</string>
	<key>a141</key>
	<string>a141.glif</string>
	<key>a142</key>
	<string>a142.glif</string>
	<key>a143</key>
	<string>a143.glif</string>
	<key>a144</key>
	<string>a144.glif</string>
	<key>a145</key>
	<string>a145.glif</string>
	<key>a146</key>
	<string>a146.glif</string>
	<key>a147</key>
	<string>a147.glif</string>
	<key>a148</key>
	<string>a148.glif</string>
	<key>a149</key>
	<string>a149.glif</string>
	<key>a15</key>
	<string>a15.glif</string>
	<key>a150</key>
	<string>a150.glif</string>
	<key>a151</key>
	<string>a151.glif</string>
	<key>a152</key>
	<string>a152.glif</string>
	<key>a153</key>
	<string>a153.glif</string>
	<key>a154</key>
	<string>a154.glif</string>
	<key>a155</key>
	<string>a155.glif</string>
	<key>a156</key>
	<string>a156.glif</string>
	<key>a157</key>
	<string>a157.glif</string>
	<key>a158</key>
	<string>a158.glif</string>
	<key>a159</key>
	<string>a159.glif</string>
	<key>a16</key>
	<string>a16.glif</string>
	<key>a160</key>
	<string>a160.glif</string>
	<key>a161</key>
	<string>a161.glif</string>
	<key>a162</key>
	<string>a162.glif</string>
	<key>a163</key>
	<string>a163.glif</string>
	<key>a164</key>
	<string>a164.glif</string>
	<key>a165</key>
	<string>a165.glif</string>
	<key>a166</key>
	<string>a166.glif</string>
	<key>a167</key>
	<string>a167.glif</string>
	<key>a168</key>
	<string>a168.glif</string>
	<key>a169</key>
	<string>a169.glif</string>
	<key>a17</key>
	<string>a17.glif</string>
	<key>a170</key>
	<string>a170.glif</string>
	<key>a171</key>
	<string>a171.glif</string>
	<key>a172</key>
	<string>a172.glif</string>
	<key>a173</key>
	<string>a173.glif</string>
	<key>a174</key>
	<string>a174.glif</string>
	<key>a175</key>
	<string>a175.glif</string>
	<key>a176</key>
	<string>a176.glif</string>
	<key>a177</key>
	<string>a177.glif</string>
	<key>a178</key>
	<string>a178.glif</string>
	<key>a179</key>
	<string>a179.glif</string>
	<key>a18</key>
	<string>a18.glif</string>
	<key>a180</key>
	<string>a180.glif</string>
	<key>a181</key>
	<string>a181.glif</string>
	<key>a182</key>
	<string>a182.glif</string>
	<key>a183</key>
	<string>a183.glif</string>
	<key>a184</key>
	<string>a184.glif</string>
	<key>a185</key>
	<string>a185.glif</string>
	<key>a186</key>
	<string>a186.glif</string>
	<key>a187</key>
	<string>a187.glif</string>
	<key>a188</key>
	<string>a188.glif</string>
	<key>a189</key>
	<string>a189.glif</string>
	<key>a19</key>
	<string>a19.glif</string>
	<key>a190</key>
	<string>a190.glif</string>
	<key>a191</key>
	<string>a191.glif</string>
	<key>a192</key>
	<string>a192.glif</string>
	<key>a193</key>
	<string>a193.glif</string>
	<key>a194</key>
	<string>a194.glif</string>
	<key>a195</key>
	<string>a195.glif</string>
	<key>a196</key>
	<string>a196.glif</string>
	<key>a197</key>
	<string>a197.glif</string>
	<key>a198</key>
	<string>a198.glif</string>
	<key>a199</key>
	<string>a199.glif</string>
	<key>a2</key>
	<string>a2.glif</string>
	<key>a20</key>
	<string>a20.glif</string>
	<key>a200</key>
	<string>a200.glif</string>
	<key>a201</key>
	<string>a201.glif</string>
	<key>a202</key>
	<string>a202.glif</string>
	<key>a203</key>
	<string>a203.glif</string>
	<key>a204</key>
	<string>a204.glif</string>
	<key>a205</key>
	<string>a205.glif</string>
	<key>a206</key>
	<string>a206.glif</string>
	<key>a21</key>
	<string>a21.glif</string>
	<key>a22</key>
	<string>a22.glif</string>
	<key>a23</key>
	<string>a23.glif</string>
	<key>a24</key>
	<string>a24.glif</string>
	<key>a25</key>
	<string>a25.glif</string>
	<key>a26</key>
	<string>a26.glif</string>
	<key>a27</key>
	<string>a27.glif</string>
	<key>a28</key>
	<string>a28.glif</string>
	<key>a29</key>
	<string>a29.glif</string>
	<key>a3</key>
	<string>a3.glif</string>
	<key>a30</key>
	<string>a30.glif</string>
	<key>a31</key>
	<string>a31.glif</string>
	<key>a32</key>
	<string>a32.glif</string>
	<key>a33</key>
	<string>a33.glif</string>
	<key>a34</key>
	<string>a34.glif</string>
	<key>a35</key>
	<string>a35.glif</string>
	<key>a36</key>
	<string>a36.glif</string>
	<key>a37</key>
	<string>a37.glif</string>
	<key>a38</key>
	<string>a38.glif</string>
	<key>a39</key>
	<string>a39.glif</string>
	<key>a4</key>
	<string>a4.glif</string>
	<key>a40</key>
	<string>a40.glif</string>
	<key>a41</key>
	<string>a41.glif</string>
	<key>a42</key>
	<string>a42.glif</string>
	<key>a43</key>
	<string>a43.glif</string>
	<key>a44</key>
	<string>a44.glif</string>
	<key>a45</key>
	<string>a45.glif</string>
	<key>a46</key>
	<string>a46.glif</string>
	<key>a47</key>
	<string>a47.glif</string>
	<key>a48</key>
	<string>a48.glif</string>
	<key>a49</key>
	<string>a49.glif</string>
	<key>a5</key>
	<string>a5.glif</string>
	<key>a50</key>
	<string>a50.glif</string>
	<key>a51</key>
	<string>a51.glif</string>
	<key>a52</key>
	<string>a52.glif</string>
	<key>a53</key>
	<string>a53.glif</string>
	<key>a54</key>
	<string>a54.glif</string>
	<key>a55</key>
	<string>a55.glif</string>
	<key>a56</key>
	<string>a56.glif</string>
	<key>a57</key>
	<string>a57.glif</string>
	<key>a58</key>
	<string>a58.glif</string>
	<key>a59</key>
	<string>a59.glif</string>
	<key>a6</key>
	<string>a6.glif</string>
	<key>a60</key>
	<string>a60.glif</string>
	<key>a61</key>
	<string>a61.glif</string>
	<key>a62</key>
	<string>a62.glif</string>
	<key>a63</key>
	<string>a63.glif</string>
	<key>a64</key>
	<string>a64.glif</string>
	<key>a65</key>
	<string>a65.glif</string>
	<key>a66</key>
	<string>a66.glif</string>
	<key>a67</key>
	<string>a67.glif</string>
	<key>a68</key>
	<string>a68.glif</string>
	<key>a69</key>
	<string>a69.glif</string>
	<key>a7</key>
	<string>a7.glif</string>
	<key>a70</key>
	<string>a70.glif</string>
	<key>a71</key>
	<string>a71.glif</string>
	<key>a72</key>
	<string>a72.glif</string>
	<key>a73</key>
	<string>a73.glif</string>
	<key>a74</key>
	<string>a74.glif</string>
	<key>a75</key>
	<string>a75.glif</string>
	<key>a76</key>
	<string>a76.glif</string>
	<key>a77</key>
	<string>a77.glif</string>
	<key>a78</key>
	<string>a78.glif</string>
	<key>a79</key>
	<string>a79.glif</string>
	<key>a8</key>
	<string>a8.glif</string>
	<key>a81</key>
	<string>a81.glif</string>
	<key>a82</key>
	<string>a82.glif</string>
	<key>a83</key>
	<string>a83.glif</string>
	<key>a84</key>
	<string>a84.glif</string>
	<key>a85</key>
	<string>a85.glif</string>
	<key>a86</key>
	<string>a86.glif</string>
	<key>a87</key>
	<string>a87.glif</string>
	<key>a88</key>
	<string>a88.glif</string>
	<key>a89</key>
	<string>a89.glif</string>
	<key>a9</key>
	<string>a9.glif</string>
	<key>a90</key>
	<string>a90.glif</string>
	<key>a91</key>
	<string>a91.glif</string>
	<key>a92</key>
	<string>a92.glif</string>
	<key>a93</key>
	<string>a93.glif</string>
	<key>a94</key>
	<string>a94.glif</string>
	<key>a95</key>
	<string>a95.glif</string>
	<key>a96</key>
	<string>a96.glif</string>
	<key>a97</key>
	<string>a97.glif</string>
	<key>a98</key>
	<string>a98.glif</string>
	<key>a99</key>
	<string>a99.glif</string>
	<key>space</key>
	<string>space.glif</string>
</dict>
</plist>
