<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>alphabetical</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>category</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>unicode</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>script</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>suffix</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>decompositionBase</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Z</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dotlessi</string>
		<string>mu</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>guillemotleft</string>
		<string>quoteleft</string>
		<string>guillemotright</string>
		<string>quoteright</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>minus</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>space</string>
		<string>.notdef</string>
		<string>a1</string>
		<string>a10</string>
		<string>a100</string>
		<string>a101</string>
		<string>a102</string>
		<string>a103</string>
		<string>a104</string>
		<string>a105</string>
		<string>a106</string>
		<string>a107</string>
		<string>a108</string>
		<string>a109</string>
		<string>a11</string>
		<string>a110</string>
		<string>a111</string>
		<string>a112</string>
		<string>a117</string>
		<string>a118</string>
		<string>a119</string>
		<string>a12</string>
		<string>a120</string>
		<string>a121</string>
		<string>a122</string>
		<string>a123</string>
		<string>a124</string>
		<string>a125</string>
		<string>a126</string>
		<string>a127</string>
		<string>a128</string>
		<string>a129</string>
		<string>a13</string>
		<string>a130</string>
		<string>a131</string>
		<string>a132</string>
		<string>a133</string>
		<string>a134</string>
		<string>a135</string>
		<string>a136</string>
		<string>a137</string>
		<string>a138</string>
		<string>a139</string>
		<string>a14</string>
		<string>a140</string>
		<string>a141</string>
		<string>a142</string>
		<string>a143</string>
		<string>a144</string>
		<string>a145</string>
		<string>a146</string>
		<string>a147</string>
		<string>a148</string>
		<string>a149</string>
		<string>a15</string>
		<string>a150</string>
		<string>a151</string>
		<string>a152</string>
		<string>a153</string>
		<string>a154</string>
		<string>a155</string>
		<string>a156</string>
		<string>a157</string>
		<string>a158</string>
		<string>a159</string>
		<string>a16</string>
		<string>a160</string>
		<string>a161</string>
		<string>a162</string>
		<string>a163</string>
		<string>a164</string>
		<string>a165</string>
		<string>a166</string>
		<string>a167</string>
		<string>a168</string>
		<string>a169</string>
		<string>a17</string>
		<string>a170</string>
		<string>a171</string>
		<string>a172</string>
		<string>a173</string>
		<string>a174</string>
		<string>a175</string>
		<string>a176</string>
		<string>a177</string>
		<string>a178</string>
		<string>a179</string>
		<string>a18</string>
		<string>a180</string>
		<string>a181</string>
		<string>a182</string>
		<string>a183</string>
		<string>a184</string>
		<string>a185</string>
		<string>a186</string>
		<string>a187</string>
		<string>a188</string>
		<string>a189</string>
		<string>a19</string>
		<string>a190</string>
		<string>a191</string>
		<string>a192</string>
		<string>a193</string>
		<string>a194</string>
		<string>a195</string>
		<string>a196</string>
		<string>a197</string>
		<string>a198</string>
		<string>a199</string>
		<string>a2</string>
		<string>a20</string>
		<string>a200</string>
		<string>a201</string>
		<string>a202</string>
		<string>a203</string>
		<string>a204</string>
		<string>a205</string>
		<string>a206</string>
		<string>a21</string>
		<string>a22</string>
		<string>a23</string>
		<string>a24</string>
		<string>a25</string>
		<string>a26</string>
		<string>a27</string>
		<string>a28</string>
		<string>a29</string>
		<string>a3</string>
		<string>a30</string>
		<string>a31</string>
		<string>a32</string>
		<string>a33</string>
		<string>a34</string>
		<string>a35</string>
		<string>a36</string>
		<string>a37</string>
		<string>a38</string>
		<string>a39</string>
		<string>a4</string>
		<string>a40</string>
		<string>a41</string>
		<string>a42</string>
		<string>a43</string>
		<string>a44</string>
		<string>a45</string>
		<string>a46</string>
		<string>a47</string>
		<string>a48</string>
		<string>a49</string>
		<string>a5</string>
		<string>a50</string>
		<string>a51</string>
		<string>a52</string>
		<string>a53</string>
		<string>a54</string>
		<string>a55</string>
		<string>a56</string>
		<string>a57</string>
		<string>a58</string>
		<string>a59</string>
		<string>a6</string>
		<string>a60</string>
		<string>a61</string>
		<string>a62</string>
		<string>a63</string>
		<string>a64</string>
		<string>a65</string>
		<string>a66</string>
		<string>a67</string>
		<string>a68</string>
		<string>a69</string>
		<string>a7</string>
		<string>a70</string>
		<string>a71</string>
		<string>a72</string>
		<string>a73</string>
		<string>a74</string>
		<string>a75</string>
		<string>a76</string>
		<string>a77</string>
		<string>a78</string>
		<string>a79</string>
		<string>a8</string>
		<string>a81</string>
		<string>a82</string>
		<string>a83</string>
		<string>a84</string>
		<string>a85</string>
		<string>a86</string>
		<string>a87</string>
		<string>a88</string>
		<string>a89</string>
		<string>a9</string>
		<string>a90</string>
		<string>a91</string>
		<string>a92</string>
		<string>a93</string>
		<string>a94</string>
		<string>a95</string>
		<string>a96</string>
		<string>a97</string>
		<string>a98</string>
		<string>a99</string>
		<string>onesuperior</string>
		<string>threesuperior</string>
		<string>twosuperior</string>
	</array>
</dict>
</plist>
