<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>750</integer>
	<key>copyright</key>
	<string>Copyright \050URW\051++,Copyright 1999 by \050URW\051++ Design &amp; Development; Cyrillic glyphs added by Valek Filippov \050C\051 2001</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Nimbus Sans L</string>
	<key>italicAngle</key>
	<real>-9.9</real>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>523</integer>
		<integer>543</integer>
		<integer>718</integer>
		<integer>738</integer>
		<integer>684</integer>
		<integer>704</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>NimbusSanL-ReguCondItal</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Nimbus Sans L Regular Condensed Italic</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>78</integer>
		<integer>88</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>60</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
