<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>750</integer>
	<key>copyright</key>
	<string>Copyright \050URW\051++,Copyright 1999 by \050URW\051++ Design &amp; Development; Cyrillic glyphs added by Valek Filippov \050C\051 2001-2002</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>URW Gothic L</string>
	<key>italicAngle</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>554</integer>
		<integer>574</integer>
		<integer>739</integer>
		<integer>759</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>URWGothicL-Demi</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>URW Gothic L Demi</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>123</integer>
		<integer>133</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>134</integer>
		<integer>138</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-93</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>90</integer>
	<key>postscriptWeightName</key>
	<string>Demi</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>60</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
