<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>750</integer>
	<key>copyright</key>
	<string>URW Software, Copyright 1997 by URW. See the file COPYING (GNU General Public License) for license conditions. As a special exception, permission is granted to include this font program in a Postscript or PDF file that consists of a document that contains text to be displayed or printed using this font, regardless of the conditions or license applying to the document itself.</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Standard Symbols L</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>673</integer>
		<integer>693</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>StandardSymL</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Standard Symbols L</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-229</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>46</integer>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>5</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
